.darkkhaki {
  background: darkkhaki;
}

#kotak_game {
  font-family: arial;
  display: table;
  position: relative;
  left: 20px;
  width: max-content;
  border: 1px solid;
}

.header_game {
  background: darkseagreen;
  box-shadow: 0 0 5px inset;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

#clearStorage, #hardRefresh {
  float: right;
  margin-left: 10px;
}

#cekPlayer, #cekMods {
  float: left;
  margin-right: 10px;
}

#papan_game {
  /* display: table-cell; */
  width: 615px;
  height: 515px;
  border: 1px solid;
  margin-right: 10px;
  /* box-shadow: 0 0 5px inset; */
}

.rules_game {
  display: table-cell;
  width: 300px;
  padding: 10px;
  border-left: 1px solid;
  background: tan;
  box-shadow: 0 0 5px;
}

.rules_game > span {
  font-size: 24px;
  font-weight: bold;
}

.rules_game > div {
  background: orange;
  padding: 3px;
  border: 2px solid;
}

.rules_game > ol {
  background: lightsalmon;
  /* margin-left: -20px; */
  margin-right: -5px;
  padding-right: 3px;
  height: 350px;
  overflow-y: scroll;
  scrollbar-width: thin;
  box-shadow: 0 0 5px inset;
}

.rules_game > ol > details {
  margin: 10px auto auto -10px;
}

.rules_game > ol > details > summary {
  font-weight: bold;
  cursor: pointer;
}

.rules_game > ol > details, li {
  margin-bottom: 7px;
}

.rules_game > ol > details > button {
  margin: 7px 0 7px 0;
}

.player_info {
  border: 1px solid;
  padding: 5px;
}

.player_info > span:first-child {
  font-size: 16px;
  font-weight: bold;
}

.player_info > .dropdown > .setting_button {
  /* position: absolute; */
  /* margin-left: 160px; */
  padding: 0 10px 0 10px;
  float: left;
  /* border: 1px solid; */
  cursor: pointer;
}

.player_info > .dropdown > .setting_menu {
  display: none;
  position: absolute;
  bottom: 230px;
  right: 140px;
  background: bisque;
/*   padding: 3px; */
  border: 2px solid;
}

.player_info > .dropdown > .setting_menu::before {
  position: absolute;
  bottom: -22px;
  left: 0px;
  content: '';
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent;
}

.player_info > .dropdown > .setting_menu > div {
  padding: 6px 3px 6px 3px;
}

.player_info > .dropdown > .setting_menu > div:nth-child(1n+2) {
  border-top: 1px solid;
}

.player_info > .dropdown > .setting_menu > div:hover {
  background: tan;
  cursor: pointer;
}

.player_info > .dropdown > .setting_menu > div.leaveGame:after {
  content: ':^(';
  font-weight: bold;
}

.player_info > .dropdown > .setting_menu > div.myCityList:after {
  content: ':^)';
  font-weight: bold;
}

.player_info > .dropdown > .setting_menu > div > label {
/*   border: 1px solid; */
  padding: 6px 18px 6px 0px;
  margin: 0 -20px 0 0;
}

.myCityBox {
  display: none;
  position: absolute;
  background: wheat;
  border: 2px solid;
  padding: 4px;
  bottom: 0px;
  left: -10px;
  width: 280px;
  height: 350px;
  cursor: auto;
}

.myCityBox > div:nth-last-child(1n+2) {
  padding: 3px 0 3px 0;
}

.myCityBox > div:nth-child(1n+2) {
  border-top: 1px solid;
}

.myCityBox > div:nth-last-child(1n+2):hover {
  background: yellowgreen;
}

.myCityButton {
  display: flex;
  justify-content: space-between;
}

.myCityButton > button, .transferButton > button {
  /* float: right; */
  margin-top: 14px;
  padding: 5px 15px;
}

.myCityBox > .myCityItem {
  display: grid;
  grid-template-columns: auto auto 50px;
}

.transferBox {
  display: none;
  position: absolute;
  background: limegreen;
  border: 2px solid;
  padding: 4px;
  bottom: 0px;
  left: -10px;
  width: 280px;
  /* height: 100px; */
  cursor: auto;
}

.transferBox > .transferItem {
  display: grid;
  grid-template-columns: auto 90px 50px;
  grid-gap: 5px;
}

.transferBox > div {
  margin-bottom: 5px;
}

.transferButton {
  border-top: 1px solid;
  margin-top: 10px;
}

.transferTutup {
  float: right;
}

/* .transferItem > i, select, button {
  background: wheat;
} */

.player_list {
  display: grid;
  grid-template-columns: 110px auto;
  margin-top: 3px;
  padding-top: 3px;
  border-top: 1px solid;
  cursor: pointer;
}

.player_list > .kartuBuffDebuff:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 29%;
  right: 6%;
  /* margin: -50px 0px 0px -60px; */
  background: yellow;
  padding: 3px;
  width: 110px;
  border: 1px solid;
  border-radius: 4px;
}

.player_list > .kartuBuffDebuff::before {
  position: absolute;
  margin: -3px 95px;
  content: '\1F4D1';
/*   font-size: 18px; */
}

.player_list > span[id]:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 29%;
  right: 14%;
  background: yellow;
  padding: 3px;
  border-radius: 4px;
  border: 1px solid;
}

.transferSetting {
  position: absolute;
  background: lightblue;
  border: 1px solid;
  /* padding: 3px; */
}

.transferSetting > div {
  padding: 5px;
}

.transferSetting > div:nth-child(1n+2) {
  border-top: 1px solid;
}

.transferSetting > div:hover {
  background: yellowgreen;
}

.transferHeading {
  border-bottom: 1px solid;
}

.reset_file {
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 999;
  background: lightsalmon;
  padding: 5px;
  border: 1px solid;
  width: 100px;
  height: 100px;
}

.reset_file > button {
  width: 40px;
  height: 30px;
  margin-top: 7px;
}

#resetYes {
  margin-right: 14px;
}

.setting_mods {
  display: none;
  position: absolute;
  top: 5%;
  left: 30%;
  z-index: 999;
  background: MediumSeaGreen;
  padding: 5px;
  border: 1px solid;
}

.setting_mods > div:first-child {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid;
  text-align: center;
  margin: 5px 0 5px 0;
}

.setting_mods > .mods_item {
  margin-top: 10px;
}

.setting_mods > .mods_item:nth-last-child(1n+2) {
  border-bottom: 2px dashed;
  padding-bottom: 7px;
}

.setting_mods > .mods_item > button {
  width: 50px;
  height: 30px;
  margin: 0 20px 0 20px;
}

.infoArea {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 29.8%;
  width: 240px;
  text-align: center;
  /* height: 100px; */
  /* border: 1px solid; */
}

.userName > input {
  width: 70px;
  border-radius: 4px;
}

.urutanGiliran {
  grid-column-end: span 2;
  /* border: 1px solid; */
}

.confirm_box {
  display: none;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 31%;
  padding: 3px;
  background: lightskyblue;
  border: 1px solid;
  border-radius: 7px;
  width: 200px;
  text-align: center;
}

.confirm_box > button {
  display: table-cell;
  margin: 0 5px 5px 5px;
  /* width: 60px; */
  height: 30px;
}

.feedback_box {
  position: absolute;
  width: 270px;
  height: 200px;
  border: 1px solid;
  border-radius: 7px;
  background: mediumaquamarine;
  top: 270px;
  right: 440px;
  /* padding: 3px; */
  text-align: center;
  opacity: .3;
}

.feedback_box::before {
  content: 'kotak notifikasi';
  border-bottom: 1px solid;
  padding: 0 50px 0 50px;
}

.feedback_box > div {
  margin-top: 5px;
}

[class^='stick'] {
  margin-top: 7px;
  position: relative;
}

.pdiv:hover::before {
  content: attr(id);
  position: absolute;
  z-index: 10;
  background: lightblue;
  padding: 2px;
}

[class^='petak'] {
  display: grid;
  grid-template-columns: auto auto;
  background: rgba(0, 204, 102, .3);
  text-align: center;
  width: 100px;
  height: 100px;
  border: 1px solid;
}

[class^='petak']::before {
  content: attr(title);
  background: lightsalmon;
  position: relative;
  z-index: 1;
  min-width: 20px;
  max-width: fit-content;
  height: 20px;
  padding: .5px;
  border-radius: 3px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

[class^='petak'] > span {
  position: absolute;
  z-index: 1;
  margin: 68px 0 0 4px;
  font-size: 12px;
  width: 92px;
  background: rgba(245, 222, 179, .8);
}

[class^='petak'] > span.area_normal {
  background: rgb(51, 102, 204, .7);
  filter: blur(16px);
  padding: 30px;
  width: 10px;
  margin: 20px 15px;
  border-radius: 50px;
}

[class^='petak'] > span.area_buff {
  background: rgb(210, 105, 30, .7);
  filter: blur(16px);
  padding: 30px;
  width: 10px;
  margin: 20px 15px;
  border-radius: 50px;
}

[class^=kota][title]:hover::after, [class^=area][title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -60%;
  left: 0;
  right: 0;
  background: yellow;
}

[class*=danaUmum] {
  color: blue;
}

[class*=kesempatan] {
  color: crimson;
}

.putaranBuff:hover::after {
  content: attr(data-buff);
  position: absolute;
  background: wheat;
  padding: 5px;
  width: 230px;
  border: 1px solid;
}

.bonusTransfer, .petNormaldanBuff {
  margin-left: -20px;
}

br {
  display: block;
  margin-top: 0;
  content: '';
}

.mods_confirm {
  display: none;
  position: absolute;
  z-index: 999;
  top: 1%;
  left: 7%;
  padding: 10px;
  background: crimson;
  color: snow;
}

.mods_confirm > input {
  width: 50px;
}

.koin_1, .koin_2, .koin_3 {
  margin: 4px;
  border: 1px solid;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

/********* DADU ROLL ***********/
.game {
  position: absolute;
  width: auto;
  height: 100%;
}

.container {
  position: relative;
  display: inline-block;
  /* top: 200px; */
}

.dice {
  position: relative;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #f25f5c;
  box-shadow: inset 2px 2px #d90429;
}

.dice-one {
  /* display: none; */
  visibility: hidden;
  margin: 30px 0 0 100px;
  /* position: absolute; */
  /* left: 150px; */
}

.side {
  position: absolute;
  background-color: #ffF;
  border-radius:5px;
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

.side:nth-child(1) {
  transform: translateZ(1em); }

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(1em); }

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(1em); }

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(1em); }

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(1em); }

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(1em); }

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg); }

.show-2 {
  transform: rotateX(-900deg) rotateZ(1080deg); }

.show-6 {
  transform: rotateY(-450deg) rotateZ(-1440deg); }

.show-3 {
  transform: rotateY(810deg) rotateZ(720deg); }

.show-4 {
  transform: rotateX(-810deg) rotateZ(-1080deg); }

.show-5 {
  transform: rotateX(450deg) rotateZ(-720deg); }

.two-1, .three-1, .four-1, .five-1, .six-1 {
  top: 33%;
  left: 33%;
}

.four-3, .five-3, .six-4 {
  top: 33%;
  left: 93%; }

.one-1, .three-2, .five-5 {
  top: 63%;
  left: 63%; }

.four-2, .five-2, .six-3 {
  top: 93%;
  left: 33%; }

.two-2, .three-3, .four-4, .five-4, .six-6 {
  top: 93%;
  left: 93%; }

.six-2 {
  top: 63%;
  left: 33%; }

.six-5 {
  top: 63%;
  left: 93%;
}
